<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MovieRatingDb</title>      
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customstyles.css') }}">
    <script src="/static/js/script.min.js" type="text/javascript"></script>

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    	<a class="navbar-brand" href="/"">MOVIEDAB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMovies" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Movies
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMovies">
              <a class="dropdown-item" href="{{ url_for('movies_index') }}">List movies</a>
              {%if current_user.is_authenticated%}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('movies_form') }}">Add Movie in Database</a>
              {%endif%}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPersons" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Moviemakers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownPersons">
              <a class="dropdown-item" href="{{ url_for('persons_index') }}">List of moviemakers</a>
              {%if current_user.is_authenticated%}
                <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('persons_form') }}">Add movie maker</a>    
              {%endif%}
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoles" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Roles in movie making
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownRoles">
              <a class="dropdown-item" href="{{ url_for('roles_index') }}">List of roles in movie making</a>
              {%if current_user.is_authenticated%}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('roles_form') }}">Add role</a>    
              {%endif%}
            </div>
          </li>
          {%if current_user.is_authenticated%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCredits" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Credits in movies
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownCredits">
              <a class="dropdown-item" href="{{ url_for('add_credits') }}">Add credits</a>    
            </div>
          </li>
          {%endif%}
          {%if current_user.is_authenticated%}
          <li>
             <a class="nav-link" href="{{ url_for('ratings_get_user_ratings') }}">My rated movies</a>
          </li>
          {%endif%}
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <span class="navbar-text">
              {{ current_user.name }} is logged in. 
            </span>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth_login') }}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth_register')}}"> Register</a>
            </li>
            {% endif %}          
          </ul>

        </div>
      </div>
    </nav>
    <main role="main" class="container">
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
    <footer>
      <p></p>
    </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
